.container {
  min-height: 100vh;
  padding:  0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: auto;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  align-items: center;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 60em;
}

.nav {
  margin: 1em;
  justify-self: flex-start;
}

.card {
  margin: 1em;
  display: flex;
  align-items: center;
}

.preis {
  display: flex;
  flex-direction: row;
  align-self: start;
}

.tabel {
  display: flex;
  justify-content: center;
  
}

.homediv {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  
}

.produktbild {
  max-width: 45vw;
  max-height: 40vh;
}

.homenews {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homeprodukt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.smallteaserrigth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.smallteaserleft {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 1em;
}